
@charset "utf-8";
/* CSS Document */

/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* FIN RESET */

@font-face {
        font-family:'f1';
        src: url('../fonts/MICT-f1_gdi.eot');
        src: url('../fonts/MICT-f1_gdi.eot?#iefix') format('embedded-opentype'),
                url('../fonts/MICT-f1_gdi.woff') format('woff'),
                url('../fonts/MICT-f1_gdi.ttf') format('truetype'),
                url('../fonts/MICT-f1_gdi.svg#MICT-f1') format('svg');
}

@font-face {
        font-family:'f2';
        src: url('../fonts/MICT-f2_gdi.eot');
        src: url('../fonts/MICT-f2_gdi.eot?#iefix') format('embedded-opentype'),
                url('../fonts/MICT-f2_gdi.woff') format('woff'),
                url('../fonts/MICT-f2_gdi.ttf') format('truetype'),
                url('../fonts/MICT-f2_gdi.svg#MICT-f2') format('svg');
}

@font-face {
        font-family:'f3';
        src: url('../fonts/MICT-f3_gdi.eot');
        src: url('../fonts/MICT-f3_gdi.eot?#iefix') format('embedded-opentype'),
                url('../fonts/MICT-f3_gdi.woff') format('woff'),
                url('../fonts/MICT-f3_gdi.ttf') format('truetype'),
                url('../fonts/MICT-f3_gdi.svg#MICT-f3') format('svg');
}



/****************************************************************************************/
/* Déclarations génériques */
/****************************************************************************************/

html, body{ height: 100%; }
body{ margin: 0; min-width: 980px; padding: 0; font-family:"f2", sans-serif; background-color: #fff; font-size: 14px; line-height: 1.42857; }
.nodisp { display:none; }
a:link, a:visited, a:hover, a:focus, a:active { text-decoration:none; outline:none; color:#000;}
li { list-style:none; }
em {font-style:italic;}
.rim {font-family:"f2", sans-serif;}

.madein { font-family:"f2", sans-serif; display:block; color:#000; font-weight:bold;font-size:35px; }
.madein em {font-family:"f3", "Trebuchet MS", Arial, Helvetica, sans-serif; font-style:normal; color:#a700ab; vertical-align:-23px;}



/****************************************************************************************/
/* Top menu */
/****************************************************************************************/

/*.menu{ list-style: none outside none; position: fixed; background-color: #000; filter: alpha(opacity=60); opacity: 0.6; padding:0; margin:0px; z-index:20015; height:40px; text-align: center; display:table; width:100%; }
.menu li{ display: inline-block; position: relative; font-size: 16px; border: 2px solid #FFF; margin: 10px; text-transform: uppercase; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s ease 0s; box-sizing: border-box; }
.menu li:hover{ background-color:#fff; }
.menu li a{ display: block; color:#fff; line-height: 17px; padding: 10px; text-shadow: 1px 1px 2px #000;}
.menu li:hover > a { color: #2E2E2E; }*/

/* Bouton pour remonter en haut de la page */

.top { position: fixed; right: 20px; bottom: 20px; filter: alpha(opacity=60); opacity: 0.6; -webkit-transition-property: opacity; -webkit-transition-duration: 0.5s; -moz-transition-property: opacity; -moz-transition-duration: 0.5s; -o-transition-property: opacity; -o-transition-duration: 0.5s; transition-property: opacity; transition-duration: 0.5s; z-index: 1000; width:50px; height:50px; }
.top:hover { filter: alpha(opacity=100); opacity: 1; }

/* déco saisonnière */
.saison {filter: alpha(opacity=90); opacity: 0.9; -webkit-transition-property: opacity; -webkit-transition-duration: 0.5s; -moz-transition-property: opacity; -moz-transition-duration: 0.5s; -o-transition-property: opacity; -o-transition-duration: 0.5s; transition-property: opacity; transition-duration: 0.5s; z-index: 999;}
.saison:hover { filter: alpha(opacity=0); opacity: 0; }
.saison1 {position: fixed; left:0px; bottom:0px;}
.saison2 {position: fixed; right:0px; bottom:0px;}


/****************************************************************************************/
/* Déclarations communes pour la structure */
/****************************************************************************************/

section, #ateliers, footer { display:table; height:100%; width:100%; table-layout: fixed; padding:70px 0;box-sizing:border-box; position:relative;}
.table { display:table; height:100%; width:100%; table-layout: fixed; }
.cell1{ display:table-cell; vertical-align:middle; width:100%; }
.cell2{ display:table-cell; vertical-align:middle; width:50%; }
.cell6{ display:table-cell; vertical-align:middle; width:16.66%; }
.contenu{ width:990px; margin:0 auto; }
.right {float:right;}
.left {float:left;}
.entier {width:100%;}
.moitie {width:50%;}
.tiers {width:33%;}
.quart {width:25%;}



/****************************************************************************************/
/* Déclarations communes pour le style */
/****************************************************************************************/

h1, #quoi .contenu > h2, #solution, .surprendre, #offres h2 { font-size:2em; font-family:"f3", "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; color:#a700ab; text-align:center; padding:30px; }
.bouton { float:left; text-align:center; }
.bouton a { margin:auto; padding:10px 20px; display:inline-block; text-align:center; font-size:1.3em; font-weight:Bold; color:#fff; text-shadow:1px 1px 1px #000; background-color:#3C6491; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s ease 0s; box-shadow: 0 0 15px #000 inset;}
.bouton a:hover { color:#FF818F; }



/****************************************************************************************/
/* Home avec slider */
/****************************************************************************************/

#home { background: url('../images/bg/bgstar.png') repeat; position:relative;}
#home .contenu{ z-index:2; }

/* Slider avec animation */

#home .slide_home { position:relative; height:400px; width:800px; margin:0 auto; overflow:hidden; box-shadow: 0 0 20px #000; z-index:2; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
#home .slider_home { position:absolute; height:100%; width:300%; -webkit-animation: slid 20s infinite; -moz-animation: slid 20s infinite; -o-animation: slid 20s infinite; animation: slid 20s infinite;}
@-webkit-keyframes slid	{ 0%, 30%, 100% { left: 0 } 33%, 63% { left: -100% } 66%, 96% { left: -200% } }
@-moz-keyframes slid	{ 0%, 30%, 100% { left: 0 } 33%, 63% { left: -100% } 66%, 96% { left: -200% } }
@-o-keyframes slid	{ 0%, 30%, 100% { left: 0 } 33%, 63% { left: -100% } 66%, 96% { left: -200% } }
@keyframes slid		{ 0%, 30%, 100% { left: 0 } 33%, 63% { left: -100% } 66%, 96% { left: -200% } }

/* Contenu du slider */

#home .slider_txt { position:absolute; width:33.33%; height:100%; text-align:left; color:#000;}
#home .slider_bas { position:absolute; bottom:25px; text-align:center; width:100%; font-family:"f1", "Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase;color: #FFD58A; font-size:2.5em; font-weight:bold;text-shadow: 2px 2px 5px #000; letter-spacing:5px; }
#home .texte1 {left:0px;}
.texte1 .madein { color:#3A4122; padding:20px 0 0 120px; }
#home .texte2 {left:800px;}
.texte2 .madein { color:#3A4122; padding:20px 0 0 120px; }
#home .texte3 {left:1600px;}
.texte3 .madein { color:#333; padding:42px 0 0 15px;}
/* .texte3 .madein { color:#3A2E27; padding:42px 0 0 15px;} */
/* .texte3 .madein { color:#3A4122; padding:20px 0 0 120px; } */
#home .texte1 .slider_bas {color:#fff;}
#home .texte2 .slider_bas {color:#fff;}
#home .texte3 .slider_bas {color:#fff;}

/* Bullet de positionnement slider home */

#home .boules {position:relative; margin:0 auto; text-align:center;text-shadow:1px 1px 1px #000; color:#999; width:20px;}
.boules .b1 {position:absolute;top:0;left:0;}
.boules .b2 {position:absolute;top:0;left:10px;}
.boules .b3 {position:absolute;top:0;left:20px;}
.boules .b_select {position:absolute;color:#a700ab;top:0;left:0;filter:alpha(opacity=0);opacity:0;}
#home .b_select {-webkit-animation: b_select 20s infinite; -moz-animation: b_select 20s infinite; -o-animation: b_select 20s infinite; animation: b_select 20s infinite; }
@-webkit-keyframes b_select { 0%, 100% { left: 0; opacity: 0; } 1%, 30%	{ left: 0; opacity: 1; } 31% { left: 0; opacity: 0; } 32% { left: 10px; opacity: 0; } 33%, 63%	{ left: 10px; opacity: 1; } 64%	{ left: 10px; opacity: 0; } 65%	{ left: 20px; opacity: 0; } 66%, 96% { left: 20px; opacity: 1; } 99% { left: 20px; opacity: 0; } }
@-moz-keyframes b_select { 0%, 100% { left: 0; opacity: 0; } 1%, 30%	{ left: 0; opacity: 1; } 31% { left: 0; opacity: 0; } 32% { left: 10px; opacity: 0; } 33%, 63%	{ left: 10px; opacity: 1; } 64%	{ left: 10px; opacity: 0; } 65%	{ left: 20px; opacity: 0; } 66%, 96% { left: 20px; opacity: 1; } 99% { left: 20px; opacity: 0; } }
@-o-keyframes b_select { 0%, 100% { left: 0; opacity: 0; } 1%, 30%	{ left: 0; opacity: 1; } 31% { left: 0; opacity: 0; } 32% { left: 10px; opacity: 0; } 33%, 63%	{ left: 10px; opacity: 1; } 64%	{ left: 10px; opacity: 0; } 65%	{ left: 20px; opacity: 0; } 66%, 96% { left: 20px; opacity: 1; } 99% { left: 20px; opacity: 0; } }
@keyframes b_select { 0%, 100% { left: 0; opacity: 0; } 1%, 30%	{ left: 0; opacity: 1; } 31% { left: 0; opacity: 0; } 32% { left: 10px; opacity: 0; } 33%, 63%	{ left: 10px; opacity: 1; } 64%	{ left: 10px; opacity: 0; } 65%	{ left: 20px; opacity: 0; } 66%, 96% { left: 20px; opacity: 1; } 99% { left: 20px; opacity: 0; } }

/* Baseline Home et flèche */

#home h1 { font-family:"f1", "Trebuchet MS", Arial, Helvetica, sans-serif;text-transform:uppercase; color:#000; font-size:60px; font-weight:normal; width:700px; margin:60px auto 0 auto; padding:0; background:#fff; border-style:double none; border-width:6px; z-index:3; position:relative;}
#home .suite_fleche { background: url('../images/bg/suite_fleche.png') no-repeat top center;background-size:36px 100px; height:100px; width:100%;position:absolute;bottom:15px;left:0;z-index:1;}



/****************************************************************************************/
/* Concept - C'est quoi ? */
/****************************************************************************************/

#quoi { background: #76385C; background: -moz-radial-gradient(center, ellipse cover, #e86fb3 0%, #1F0E19 100%); background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e86fb3), color-stop(100%,#1F0E19)); background: -webkit-radial-gradient(center, ellipse cover, #e86fb3 0%,#1F0E19 100%); background: -o-radial-gradient(center, ellipse cover, #e86fb3 0%,#1F0E19 100%); background: -ms-radial-gradient(center, ellipse cover, #e86fb3 0%,#1F0E19 100%); background: radial-gradient(ellipse at center, #e86fb3 0%,#1F0E19 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e86fb3', endColorstr='#1F0E19',GradientType=1 );}
#quoi h1, #quoi .contenu > h2 { color:#ff818c; text-shadow:1px 1px 5px #000;}
#solution {color:#B0FF27;text-shadow:1px 1px 5px #000;}
.accroche {color:#B0FF27;text-shadow:1px 1px 5px #000;font-family:"f2", "Trebuchet MS", Arial, Helvetica, sans-serif;font-size:1.5em;text-align:center;padding-bottom:50px;}
#quoi ul { }
#quoi li { font-size:1.2em; padding:0 0 20px 42px; background:url('../images/bg/li1.png') no-repeat 0 0.32em;}
#quoi .contenu > ul li {color:#fff;}
#quoi p { font-size:1.2em; padding-bottom:20px; color:#ccc; font-style:Italic; text-align:right; }
.the_solution a { margin:30px auto 50px auto; padding: 20px 150px 0; box-shadow: 0 0 30px #000 inset;}
#quoi .row { width:100%; background-color:#eee; overflow:hidden; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; box-shadow: 0 0 20px #000;}
.boulettes { box-sizing: border-box; float:left; padding:20px; }
#quoi .boulettes h2 { font-size:1.7em; color:#ff818c; text-align:center; padding:0 0 25px;}
/*padding:0 0 25px 30px;}*/
#quoi .boulettes ul { padding-left:15px; }
#quoi .boulettes li { background:url('../images/bg/li2.png') no-repeat 0 0.32em; padding:0 0 10px 30px;}
.bouton .offres {padding: 10px 30px;}
#quoi .bouton a {border: solid 3px #FFF;}
.surprendre {font-size:1.8em;clear:both;font-family:"f2", "Trebuchet MS", Arial, Helvetica, sans-serif;}



/****************************************************************************************/
/* Intermédiaire parallaxe */
/****************************************************************************************/

#intermediaire_1{ height:35%; width:100%; position:relative; z-index:-2;}



/****************************************************************************************/
/* Détail offres : Ateliers, cours particuliers, entreprises */
/****************************************************************************************/

#offres{ text-align: center;}
#offres .contenu { width:80%; }
#offres p { font-size: 1.2em; color: #333; text-align: justify; padding-bottom:20px; }
/* #offres .n3-3 .texte {overflow:hidden;} */
#offres .a_suivre { overflow:hidden; padding:40px 0; }
hr { border: 0; margin:20px auto 60px; width:100%; height:1px; background: -webkit-linear-gradient(left,white, black, white); background: -o-linear-gradient(left,white, black, white); background: -moz-linear-gradient(left,white, black, white); background: linear-gradient(to right, white, black, white); }
#offres p > a {border-bottom:dotted 1px #000;-webkit-transition: color 0.5s; -moz-transition: color 0.5s; -o-transition: color 0.5s; transition: color 0.5s ease 0s;}
#offres p > a:hover {color:#FF818F;}
#offres h2 {padding-bottom:10px;}
.acc2 {padding-bottom: 30px; font-style: italic; color: #FF5160;}

/* Image et picto animé */

.picto {filter:alpha(opacity=0);opacity:0; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s ease; }

/* Tarifs */

.show_tarifs, .show_tarifs_cp {overflow:hidden; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s ease 0s; visibility:hidden;position:absolute;}
.tarifs {display:table; table-layout:fixed; width:80%; margin:40px auto 20px; box-shadow: 0 0 20px #000; border-collapse: separate; border-spacing: 0px 1px; background: -webkit-linear-gradient(left, rgba(167, 0, 171, 0.5), black, rgba(167, 0, 171, 0.5)); background: -o-linear-gradient(left, rgba(167, 0, 171, 0.5), black, rgba(167, 0, 171, 0.5)); background: -moz-linear-gradient(left, rgba(167, 0, 171, 0.5), black, rgba(167, 0, 171, 0.5)); background: linear-gradient(to right, rgba(167, 0, 171, 0.5), black, rgba(167, 0, 171, 0.5));}
.thead {display:table-header-group; background: #A700AB; color: #F4CD53; font-size: 2.3em; font-family: "f1", "Trebuchet MS", Arial, Helvetica, sans-serif;text-transform:uppercase; letter-spacing: 4px; }
.tligne {display:table-row; background: rgba(244, 205, 83, 1); font-family: "f3", "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 1.3em; }
.tcell {display:table-cell; width:33%;padding: 13px; font-weight: bold; vertical-align: middle;}
.caption {font-size:0.8em; font-style:italic; color:#555;}
.introbox {max-width:600px;margin:10px auto;padding:15px; background:#fff;-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; box-shadow: 0 0 10px #000;}



/****************************************************************************************/
/* Intermédiaire 4 photos */
/****************************************************************************************/

#preview_photos{ height:10%; background-color: #FFECE4; padding:0;}
#preview_photos .contenu{ width:100%; }
.photo{ position: relative; float: left; width: 25%; font-size: 0px; }
#preview_photos img { width:100%; }
.imgphoto { position:absolute; top:0; left:0; width:100%; background: transparent; }
.c1 { position:absolute; top:0; left:0; width:100%; height:100%; filter: alpha(opacity=60); opacity: 0.6; -webkit-transition-property: opacity; -webkit-transition-duration: 0.5s; -moz-transition-property: opacity; -moz-transition-duration: 0.5s; -o-transition-property: opacity; -o-transition-duration: 0.5s; transition-property: opacity; transition-duration: 0.5s; text-align:center; display:table-cell; vertical-align:middle; z-index:10; }
.c1:hover{ filter: alpha(opacity=90); opacity:0.9; }
#preview_photos .c2 { height:64px; width:64px; margin:auto auto; }



/****************************************************************************************/
/* Intermédiaire pictos */
/****************************************************************************************/

#intermediaire_2{text-align: center; z-index:10; padding:0; background:#fff; position:relative;}
#intermediaire_2 img {margin: 0 auto;}



/****************************************************************************************/
/* Intermédiaire retours XP */
/****************************************************************************************/

#xp{ height:40%; background-color: #fffcc7; text-align: center; padding:0; z-index:10; position:relative; }
#xp .contenu { width: 70%; margin:0 auto;}
.retour_xp { position: relative; width: 450px; font-size: 1.3em; text-align: left; background-color: #4c4c4c; -moz-border-radius:25px; -webkit-border-radius:25px; border-radius: 25px; border-style: solid; border-color: #888; border-width: 4px; padding: 10px; margin-bottom:30px; }
.retour1 { float: left; }
.retour2 { float: right; }
.retour1 img { position: absolute; top: -30px; left: -30px; width: 100px; }
.retour2 img { position: absolute; top: -30px; right: -30px; width: 100px; }
.retour_xp h5 { font-size: 1.4em; color: #E2A3E4; padding: 0 20px; }
.retour1 h5 { margin-left: 60px; }
.retour2 h5 { margin-right: 60px; }
.retour_xp p { padding: 10px; font-style: Italic; color: #fff; }



/****************************************************************************************/
/* Formulaire de contact */
/****************************************************************************************/

#contact h1 { padding-bottom: 40px; font-family:"f3", "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fffcc7; text-align: center; font-weight:bold;}
#contact .chapeau { font-size:1.5em; padding-top:10px; text-align:center; }
#contact u {color:#fffcc7; font-style:italic;}
#contact .gauche p { padding-bottom:20px; color:#fff; }
#contact .bouton {float:none; padding:10px 0 50px;}
#contact .backup_contact { clear:both; text-align:center; color: #FFFCC7; padding-top: 20px;}
#contact .droite {font-size:1.5em; }
#contact form { text-align: center; width:100%; background-color:#A96788; -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; border: solid 4px #fff; padding:20px; box-sizing: border-box; box-shadow: 0 0 20px #000;}
#contact form .champ { width:100%; padding:10px 30px; margin-bottom:10px; font-family:"f2", "Trebuchet MS", Arial, Helvetica, sans-serif; color: #222; box-sizing: border-box; }
#contact form p { text-align:left; font-size:0.8em; font-weight:normal; color:#fff; }
#contact .radio { padding:10px 0 20px; }
#contact form .submit { height:48px; width:64px; background:url('../images/bg/mail.png') top left no-repeat; cursor: pointer; border:0; }



/****************************************************************************************/
/* Formulaire de réservation (page séparée) */
/****************************************************************************************/

#reserver { background-color:#A96788; }
#reserver h1 { padding-bottom: 40px; font-family:"f3", "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fffcc7; text-align: center; font-weight:bold;}
#reserver .chapeau { font-size:1.5em; padding-top:10px; text-align:center; }
#reserver u {color:#fffcc7; font-style:italic;}
#reserver .gauche p { padding-bottom:20px; color:#fff; }
#reserver .backup_contact { clear:both; text-align:center; color: #FFFCC7; padding-top: 20px;}
#reserver .droite {font-size:1.5em; }
#reserver form { text-align: center; width:100%; -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; border: solid 4px #fff; padding:20px; box-sizing: border-box; box-shadow: 0 0 20px #000; color:#fffcc7;}
#reserver form .champ { margin-bottom:10px; font-family:"f2", "Trebuchet MS", Arial, Helvetica, sans-serif; color: #222; box-sizing: border-box; }
#reserver .full {width:100%; padding:10px 30px;}
#reserver form p { text-align:left; font-size:0.8em; font-weight:normal; color:#fff; }
#reserver #theme_atelier_sel {font-family:"f2", "Trebuchet MS", Arial, Helvetica, sans-serif;}
#reserver form .submit { cursor: pointer; padding: 10px 20px; text-align: center; font-size: 1em; color: #fff; text-shadow: 1px 1px 1px #000; background-color: #3c6491; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s ease 0s; box-shadow: 0 0 15px #000 inset; border-width:0;font-family:"f2", "Trebuchet MS", Arial, Helvetica, sans-serif;}
#reserver form .submit:hover {color:#FF818F;}
.sf-heb, .sf-rj, .sf-cp {display:none;}
#heberger:checked ~ .sf-heb {display:block;}
#participer:checked ~ .sf-rj {display:block;}
#particulier:checked ~ .sf-cp {display:block;}
.sf-rj input{text-align:center;}
#reserver hr {margin:20px auto;background:#fff;}



/****************************************************************************************/
/* FAQ-propos */
/****************************************************************************************/

#faq .contenu{ width:90%; margin:30px auto 10px; box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.5) inset; background-color: rgba(255,255,255,0.8); padding: 20px; text-align:justify; overflow:hidden; position:relative; }
.qm1 { margin-top:40px; margin-left:30px; }
.qm2 { position:absolute; bottom:40px; left:40%; }
.qm3 { position:absolute; top:10px; right:10%; }
.gauche{ float:left; width:48%; }
.droite{ float:right; width:48%; }
#faq h1 { font-family:"f2", sans-serif; font-style:italic;}
#faq h2 { font-size: 1.6em; margin-bottom: 20px; text-align:center; color:#FF818C; text-shadow: 1px 1px 2px #000; }
#faq ul { padding:10px 30px; margin-bottom:180px; }
#faq li:before { content: "→ "; font-size: 1.7em; color:#70a4a8; text-shadow: 1px 1px 2px #000; }
#faq a { color:#70a4a8; font-size:1.4em; text-shadow: 1px 1px 0px #333; }
#faq .faq_detail { display: none; margin-bottom:20px; }
#faq p { margin-top:10px; }
#faq p > a { color:#A700AB; text-shadow: none; font-size: 1em;}



/****************************************************************************************/
/* Partenaires */
/****************************************************************************************/

#partenaires {z-index:-2;}
#partenaires .contenu > p { font-size: 1.4em; font-style: Italic; color: #555; text-align: center;}
#partenaires a { color: #fff; text-shadow: 1px 1px 2px #000; }
.partner_a { padding:15px; margin-top:40px; background-color:rgba(236, 149, 179, 0.9); }
.partner { padding:20px; border-style: dashed; border-color: #f1e40d; border-width: 2px; }
.desc { overflow: hidden; margin-right:20px; }
.desc h2 { margin-top: 10px; font-size:1.8em; font-style:italic; text-shadow: 1px 1px 0px #333; color:#12949E; }
.desc p { text-align:justify; margin-top:10px; }
.desc aside { margin-top:20px; }
#partenaires img{ width:100px; }
.impair img{ float:left; margin-right:20px; }
.pair img{ float:left; margin-right:20px; }



/****************************************************************************************/
/* Copyright et crédits */
/****************************************************************************************/

footer { z-index:-1; }
footer .contenu p { font-size: 2.9em; font-style: Italic; color: #f1e40d; text-shadow: 1px 1px 3px #333; text-align:right; }
footer .contenu .baseline {text-align:left;}
.baseline .madein {font-size:1.4em; padding-bottom:50px; font-style:normal;}
.copyright{ position:absolute; bottom:20px; left:20px; font-size: 1.5em; text-shadow: 1px 1px 2px #000; color: #fff; }
footer h5 {display:inline;}
.copyright a, .credits a{ border-bottom:2px dotted; color:#fff;}
.copyright a:hover, .credits a:hover{ color: #f1e40d; }
.black_overlay{ display: none; position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: #000; z-index:1001; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80); }
.credits { display: none; position: absolute; left:50%; top:50%; height:400px; width:700px; margin-top:-200px; margin-left:-350px; padding:0; z-index:1002; color: #fff;}
.credits_bis { width:100%; height:100%; margin:0; padding: 32px; background-color: rgba(0,0,0,0.5); box-sizing: border-box; }
.credits_bis p { font-size:1.2em ; text-align: left; text-shadow: 1px 1px 2px #000; }
.credits_bis p:first-child { font-size: 1.4em; font-style: Italic; color: #f1e40d; text-shadow: 1px 1px 3px #000; text-align: center; margin-bottom: 30px; }
.close_credits { position: absolute; top: 10px; right: 20px; font-size:30px; }
.close_credits a{ color:#fff; border-bottom:none; }



/****************************************************************************************/
/* Section ateliers sur page spécifique */
/****************************************************************************************/

#ateliers .contenu { overflow:hidden; }

#ateliers main { float:left; width:100%; max-width:720px; overflow:hidden; padding-bottom:10px;}
main > p { margin-bottom:30px; padding:0 10px;font-size:1.4em; font-style:Italic; color:#555; text-align:justify; }
main > a:link, main > a:visited, main > a:hover, main > a:focus, main > a:active {  font-weight: bold; text-shadow: none; }

/* Gestion des images des thèmes et de leurs possibles affichages */

.item_sum {text-align:right; display:block;}
.item_sum img { margin: 30px 0 0 0; }
.img_th { width:100%; max-width:720px; height:200px; border-style: double none solid none; border-color: #333; border-width: 4px 0 1px 0;margin:30px 0 0 0; position:relative; font-family:"f1", "Trebuchet MS", Arial, Helvetica, sans-serif;text-transform:uppercase;}
.img_th > div {height:100%; background:rgba(255,255,255,0);}
.img_th h2 { font-size:2.4em; color:#fff; font-style:italic; font-weight:bold; text-shadow:2px 2px 5px #000; position:absolute; bottom:0px; right:30px; letter-spacing:4px; margin-bottom:5px;}
.slim .img_th { height:50px; border-style: solid none solid none; border-width: 1px 0 1px 0; background-position:0 -143px; margin:0 0 3px 0;}
.slim .img_th > div {background:rgba(255,255,255,0.8);}
.slim .img_th h2 { font-size:2em; color:#000; text-shadow:none; font-style:normal;}
.onglet { border-style: solid; border-color: #333; border-width: 0px 1px 1px 1px; -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; display:inline; padding:2px 30px; background-color:#fff;}
.deplier { display:inline; }
.replier { float: right; font-size: 0.8em; color:#000;margin-right:-1px;}

/* Détail des thèmes */

#d_theme1, #d_theme2, #d_theme3, #d_theme4, #d_theme5, #d_theme6, #d_theme7, #d_theme8, #d_theme9, #d_theme10, #d_theme11 { -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 2.5s ease 0s; display:none; height:0;}
.theme { position:relative; background-color:#fff; text-align:left; -moz-border-radius:0 0 30px 30px; -webkit-border-radius:0 0 30px 30px; border-radius:0 0 30px 30px; margin-bottom:30px; padding-bottom:20px; border-style:none solid solid;border-width:1px;}
.theme p a {color:#a700ab;}
.theme p { text-align:justify;}
.theme > p { padding:10px 20px; }
.theme h3 { padding:10px; color:#a700ab; font-style:italic; text-decoration: underline;}

/* Détail des projets dans les thèmes */

.theme li { font-size:0.9em; border:dashed; border-width:0px 1px 1px 1px;min-height:60px;}
.theme li:first-child { border-width:1px; }
.theme li > a {display:block; width:60px; height:60px; float:left; margin:0 20px 10px 0;background-repeat:no-repeat;}
.theme .titre_projet { font-size:1.2em; font-weight:bold; color: #C86E6E; text-shadow:none;}
.theme .desc_projet { padding-top:5px;}
.theme .partner_projet { font-style:italic; padding-top:5px; text-align:right;}
.theme .tech_projet { font-style:italic; font-size:0.9em; padding-top:5px; }
.n1:before{ content:url(../images/bg/niveau_up.png) url(../images/bg/niveau_down.png) url(../images/bg/niveau_down.png); }
.n2:before{ content:url(../images/bg/niveau_up.png) url(../images/bg/niveau_up.png) url(../images/bg/niveau_down.png); }
.n3:before{ content:url(../images/bg/niveau_up.png) url(../images/bg/niveau_up.png) url(../images/bg/niveau_up.png); }
.n1, .n2, .n3 { float:right; margin:0 0 0 20px;}

/* Footer du thème sélectionné */

.theme .autres_projets { font-size:1em; padding:10px 20px; font-style:italic; color:#555;}
.theme .autres_demandes { font-size:0.8em; padding:10px 20px; font-style:italic; color:#777;}
#ateliers .bouton {float:none;}
#ateliers .bouton a { font-size:1em; margin:20px auto 15px; padding:10px 20px; }

/* Sidebar de la page ateliers */

#ateliers aside { float:right; width:250px; margin:110px 0 0 20px;}
#ateliers aside h5 {font-size:2em; text-align:center;}
#ateliers aside ul {margin: 20px 20px 0 20px; }
.side_item { border:solid; border-width:3px; border-color:#a700ab; padding:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; margin:20px 0; background-color:#f8f8f8;}
.side_item h6 {font-family:"f3", "Trebuchet MS", Arial, Helvetica, sans-serif; color:#a700ab; font-weight:bold; font-size:1.5em; text-align:center; margin:15px 0;}
.side_item > p {margin-bottom:10px;}

.coming_next li {border-style:double none none none; border-color:#333; border-width:4px; margin:8px 0 0 0; padding:15px 5px 5px 5px;}
.coming_next p {font-style:normal;}
#ateliers .date {font-weight:bold;}
#ateliers .lieu {font-style:italic;}
#ateliers .sujet {padding-top:10px;}

#ateliers hr { margin:30px 0; }



/****************************************************************************************/
/* Habillage */
/****************************************************************************************/

#faq, footer { box-shadow:0 0px 50px #000 ;}
#intermediaire_1 {box-shadow:0 0 50px #000 inset;}
#offres {box-shadow:0 -40px 50px -40px #000 inset;}
#xp {box-shadow: 0px 40px 50px -40px #000;}
/*
section + section { box-shadow:#000 0 -5px 50px; z-index:100;}
section + section:before { content:''; position:absolute; top:0; left:0; width:100%; border-top:1px solid #fff; z-index:100; opacity:0.3; }
.intermediaire_1 + section { box-shadow:#000 0 -5px 50px; }
.intermediaire_1 + section:before { content:''; position:absolute; top:0; left:0; width:100%; border-top:1px solid #fff; z-index:1; opacity:0.3; }
*/




/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/* Media queries : grand */
/****************************************************************************************/

@media (min-width: 1000px) {

.top {right: 50px; bottom: 50px; background:url('../images/bg/top.png') 0 0/50px 50px;}


/* Coup de tampon */

#home .coup_tampon {position:absolute; z-index:10;-ms-transform: rotate(10deg); -webkit-transform: rotate(10deg); -moz-transform: rotate(10deg); -o-transform: rotate(10deg); transform: rotate(10deg);top:12%; right:8%;height:100px;width:324px;background:url('../images/bg/tampon2.png') center center/cover;-webkit-animation: tampon 3s 1 linear; -moz-animation: tampon 3s 1 linear; -o-animation: tampon 3s 1 linear; animation: tampon 3s 1 linear;}
#home .slide_home {-webkit-animation: tampsl 3s 1 linear; -moz-animation: tampsl 3s 1 linear;-o-animation: tampsl 3s 1 linear;animation: tampsl 3s 1 linear;}

@-webkit-keyframes tampon { 0%, 95.5% { height:150px;width:486px;opacity:0;} 96% { height:140px;width:453px;opacity:1;} 98% { height:90px;width:292px;} 99% { height:100px;width:324px;} }
@-moz-keyframes tampon    { 0%, 95.5% { height:150px;width:486px;opacity:0;} 96% { height:140px;width:453px;opacity:1;} 98% { height:90px;width:292px;} 99% { height:100px;width:324px;} }
@-o-keyframes tampon      { 0%, 95.5% { height:150px;width:486px;opacity:0;} 96% { height:140px;width:453px;opacity:1;} 98% { height:90px;width:292px;} 99% { height:100px;width:324px;} }
@keyframes tampon         { 0%, 95.5% { height:150px;width:486px;opacity:0;} 96% { height:140px;width:453px;opacity:1;} 98% { height:90px;width:292px;} 99% { height:100px;width:324px;} }
@-webkit-keyframes tampsl { 0%, 98% { height:400px;width:800px;} 98.5% { height:380px;width:760px;} 99% { height:400px;width:800px;} }
@-moz-keyframes tampsl { 0%, 98% { height:400px;width:800px;} 98.5% { height:380px;width:760px;} 99% { height:400px;width:800px;} }
@-o-keyframes tampsl { 0%, 98% { height:400px;width:800px;} 98.5% { height:380px;width:760px;} 99% { height:400px;width:800px;} }
@keyframes tampsl { 0%, 98% { height:400px;width:800px;} 98.5% { height:380px;width:760px;} 99% { height:400px;width:800px;} }

#home .slider_home { background: url('../images/bg/bg_slide_201602.jpg') no-repeat 0 top;}

#intermediaire_1{background: url('../images/bg/pied.jpg') top center/cover;}

/* #offres .n3-2 .texte {overflow:hidden;} */
.clients { width:200px; height:400px; padding:30px 50px 0; margin:0 auto; position:relative;}
.clients .image { width:200px; height:200px; border-radius:25px;}
.clients .picto { position:absolute; top:30px; width:150px; height:150px; margin:35px 25px;}

/* Image et picto animé */

.n3-1 .image {background:url('../images/bg/atelier_madeincheztoi.jpg') no-repeat;}
.n3-1 .picto {background:url('../images/bg/picto_client1.png') no-repeat;}
.n3-2 .image {background:url('../images/bg/cours_particulier_madeincheztoi.jpg') no-repeat;}
.n3-2 .picto {background:url('../images/bg/picto_client2.png') no-repeat;}
.n3-3 .image {background:url('../images/bg/carte_cadeau_madeincheztoi.jpg') no-repeat;}
.n3-3 .picto {background:url('../images/bg/picto_client3.png?v=2') no-repeat;}
.n3-4 .image {background:url('../images/bg/offre_sur_mesure_madeincheztoi.jpg') no-repeat;}
.n3-4 .picto {background:url('../images/bg/picto_client4.png') no-repeat;}

#offres { background: url('../images/bg/haut_etoiles.jpg') right center/cover;}
#contact { background: url('../images/bg/grass.jpg') repeat; }
#reserver form { background: url('grass.jpg') repeat; }
#faq{ background: url('../images/bg/poussette.jpg') center top/cover; }
#partenaires { background: url('../images/bg/tirets.jpg') center top/cover; }
footer{ background: url('../images/bg/bobines.jpg') center top/cover; }
.credits {background-image: url('../images/bg/pied.jpg');}

#intermediaire_2 {height:160px;}
#intermediaire_2 img { height:80px;width:80px;background:url('../images/bg/pictos.png') 0px 0px no-repeat;}
#intermediaire_2 .pict2 {background-position:-80px 0px;}
#intermediaire_2 .pict3 {background-position:-160px 0px;}
#intermediaire_2 .pict4 {background-position:-240px 0px;}
#intermediaire_2 .pict5 {background-position:-320px 0px;}
#intermediaire_2 .pict6 {background-position:-400px 0px;}

#contact .bouton {padding:50px 0 30px;}
.impair { margin-right:100px; }
.pair { margin-left:100px; }

#ateliers {background:url('../images/bg/papier.jpg') repeat;}
#ateliers aside .bouton a { display:block;}
#theme1 .img_th { background:url('../images/bg/atelier_theme1.jpg') center center/cover border-box;}
#theme2 .img_th { background:url('../images/bg/atelier_theme2.jpg') center center/cover border-box;}
#theme3 .img_th { background:url('../images/bg/atelier_theme3.jpg') center center/cover border-box;}
#theme4 .img_th { background:url('../images/bg/atelier_theme4.jpg') center center/cover border-box;}
#theme5 .img_th { background:url('../images/bg/atelier_theme5.jpg') center center/cover border-box;}
#theme6 .img_th { background:url('../images/bg/atelier_theme6.jpg') center center/cover border-box;}
#theme7 .img_th { background:url('../images/bg/atelier_theme7.jpg') center center/cover border-box;}
#theme8 .img_th { background:url('../images/bg/atelier_theme8.jpg') center center/cover border-box;}
#theme9 .img_th { background:url('../images/bg/atelier_theme9.jpg') center center/cover border-box;}
#theme10 .img_th { background:url('../images/bg/atelier_theme10.jpg') center center/cover border-box;}
#theme11 .img_th { background:url('../images/bg/atelier_theme11.jpg') center center/cover border-box;}
.theme .projet {overflow:hidden;}
.theme li {margin:0 20px; padding:20px;}

}



/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/* Media queries : moyen */
/****************************************************************************************/

@media (max-width: 999px) and (min-width: 541px) {

body{ min-width: 540px; font-size:12px;}
.madein {font-size:30px; }




.top { background:url('../images/bg/top.png') 0 0/50px 50px;}

section, #ateliers, footer {padding:0 0 70px 0;}
.contenu { width:100%; padding:0 20px; box-sizing: border-box; }

#home { padding-top:20px;}

/* Coup de tampon */

#home .coup_tampon {position:absolute; z-index:10;-ms-transform: rotate(10deg); -webkit-transform: rotate(10deg); -moz-transform: rotate(10deg); -o-transform: rotate(10deg); transform: rotate(10deg);top:10%; right:1%;height:70px;width:226px;background:url('tampon2_m.png') center center/cover;}
#home .slide_home {height:350px; width:500px;}
#home .slider_home {background: url('../images/bg/bg_slide_201602_m.jpg') no-repeat 0 top;}
#home .slider_bas {bottom:20px; font-size:2em;}
#home .texte2 {left:500px;}
#home .texte3 {left:1000px;}
.texte1 .madein { padding:20px 0 0 80px; }
.texte2 .madein { padding:20px 0 0 80px; }
.texte3 .madein { padding:10px 0 0 15px;}
#home h1 { font-size:50px; width:500px;}
#home .suite_fleche {background-size:18px 50px; height:50px;}

#solution {padding:10px;}
.the_solution a {padding:20px 20px 0; margin:10px auto 30px;}
.boulettes {padding:10px 10px 0;}

#intermediaire_1{background: url('../images/bg/pied_m.jpg') top center/cover;}

#offres { background: url('../images/bg/haut_etoiles_m.jpg') right center/cover;}
#offres .contenu { width:100%;}
.clients { width:200px; height:400px; padding:30px 50px 0; margin:0 auto; position:relative;}
.clients .image { width:200px; height:200px; border-radius:25px;}
.clients .picto { position:absolute; top:30px; width:150px; height:150px; margin:35px 25px;}
.left {padding:30px 20px 0 10px;}
.right {padding:30px 10px 0 20px;}
#offres .a_suivre {padding:20px 0; }
hr {margin:30px 0;}

/* Image et picto animé */

.n3-1 .image {background:url('../images/bg/atelier_madeincheztoi.jpg') no-repeat;}
.n3-1 .picto {background:url('../images/bg/picto_client1.png') no-repeat;}
.n3-2 .image {background:url('../images/bg/cours_particulier_madeincheztoi.jpg') no-repeat;}
.n3-2 .picto {background:url('../images/bg/picto_client2.png') no-repeat;}
.n3-3 .image {background:url('../images/bg/carte_cadeau_madeincheztoi.jpg') no-repeat;}
.n3-3 .picto {background:url('../images/bg/picto_client3.png?v=2') no-repeat;}
.n3-4 .image {background:url('../images/bg/offre_sur_mesure_madeincheztoi.jpg') no-repeat;}
.n3-4 .picto {background:url('../images/bg/picto_client4.png') no-repeat;}

.retour_xp { width:100%; max-width: 450px; margin-top:20px; margin-bottom:30px; }

#intermediaire_2{ height:130px; }
#intermediaire_2 img { height:60px;width:60px;background:url('../images/bg/pictos_m.png') 0px 0px no-repeat;}
#intermediaire_2 .pict2 {background-position:-60px 0px;}
#intermediaire_2 .pict3 {background-position:-120px 0px;}
#intermediaire_2 .pict4 {background-position:-180px 0px;}
#intermediaire_2 .pict5 {background-position:-240px 0px;}
#intermediaire_2 .pict6 {background-position:-300px 0px;}

.photo { width:50%; }
#preview_photos .contenu{ margin-top: 0px; padding:0; }

#contact{ background: url('../images/bg/grass_m.jpg') repeat; padding-bottom: 30px; }
#contact form { max-width: 416px; margin:0 auto; }
form .champ { padding:5px 20px; }

#reserver form { background: url('../images/bg/grass_m.jpg') repeat; }

#faq{ background: url('../images/bg/poussette_m.jpg') center top/cover; }
.gauche { width:100% }
.droite { width:100% }
#faq .contenu{ width:90%; padding-top:50px; }
#faq .gauche, .droite { width:100%; }
#faq .gauche ul { margin-bottom:50px; }

#partenaires { background: url('../images/bg/tirets_m.jpg') center top/cover; }

footer{ background: url('../images/bg/bobines_m.jpg') center top/cover; }
.copyright { left:10px; }
.credits { left:50%; top:50%; height:350px; width:500px; margin-top:-175px; margin-left:-250px; background-image: url('../images/bg/pied_m.jpg'); }

#ateliers {background:url('../images/bg/papier_m.jpg') repeat;}
#ateliers .contenu { width:100%; box-sizing: border-box; }
#ateliers main{float:none;margin:0 auto;}
#ateliers aside{ float:none;width:100%; max-width:720px; margin:0 auto 30px; }
.img_th {height:150px;}
#theme1 .img_th { background:url('../images/bg/atelier_theme1.jpg') center center/cover border-box;}
#theme2 .img_th { background:url('../images/bg/atelier_theme2.jpg') center center/cover border-box;}
#theme3 .img_th { background:url('../images/bg/atelier_theme3.jpg') center center/cover border-box;}
#theme4 .img_th { background:url('../images/bg/atelier_theme4.jpg') center center/cover border-box;}
#theme5 .img_th { background:url('../images/bg/atelier_theme5.jpg') center center/cover border-box;}
#theme6 .img_th { background:url('../images/bg/atelier_theme6.jpg') center center/cover border-box;}
#theme7 .img_th { background:url('../images/bg/atelier_theme7.jpg') center center/cover border-box;}
#theme8 .img_th { background:url('../images/bg/atelier_theme8.jpg') center center/cover border-box;}
#theme9 .img_th { background:url('../images/bg/atelier_theme9.jpg') center center/cover border-box;}
#theme10 .img_th { background:url('../images/bg/atelier_theme10.jpg') center center/cover border-box;}
#theme11 .img_th { background:url('../images/bg/atelier_theme11.jpg') center center/cover border-box;}
.theme .projet {overflow:hidden;}
.theme li {margin:0 20px; padding:20px;}

}



/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/* Media queries : petit */
/****************************************************************************************/

@media (max-width: 540px) {

body{ min-width: 320px; font-size:10px;}
.madein {font-size:25px; }



.top { background:url('../images/bg/top.png') 0 0/50px 50px;}

section, #ateliers, footer {padding:0 0 30px;}
.contenu { width:100%; padding:0 10px; box-sizing: border-box; }
.moitie, .tiers {width:100%; margin-bottom:10px;}
.quart {width:50%; margin-bottom:10px;}

#home { padding:20px 0 70px;}
#home .slide_home {height:250px; width:300px;}
#home .slider_home {background: url('../images/bg/bg_slide_201602_s.jpg') no-repeat 0 top;}
#home .slider_bas {bottom:20px; font-size:2em;}
#home .texte2 {left:300px;}
#home .texte3 {left:600px;}
#home .texte3 .slider_bas {font-family:"f2", sans-serif;text-transform:none;font-size:1.3em;}
.texte1 .madein { padding:0 0 0 30px;}
.texte2 .madein { padding:0 0 0 30px;}
.texte3 .madein { padding:0 0 0 15px;}
#home h1 { font-size:35px; width:300px; border-width:4px;}
#home .suite_fleche {background-size:18px 50px; height:50px;}

#solution {padding:10px;}
.the_solution a {padding:20px 20px 0; margin:10px auto 30px;}
.boulettes {padding:10px 10px 0;}

#intermediaire_1{background: url('../images/bg/pied_s.jpg') top center/cover;}

#offres { background:#FCDEB9;}
#offres .contenu { width:100%;}
.clients { width:100px; height:150px; padding:0px 0px 0; margin:0 auto; position:relative;}
.clients .image { width:100px; height:100px; border-radius:15px; position:absolute; top:25px;}
.clients .picto { position:absolute; top:35px; width:80px; height:80px;}
.left, .right {float:none;}
#offres .a_suivre {padding:10px 0; }
hr {margin:20px 0;}

/* Image et picto animé */

.n3-1 .image {background:url('../images/bg/atelier_madeincheztoi_s.jpg') no-repeat;left:0;}
.n3-1 .picto {background:url('../images/bg/picto_client1_s.png') no-repeat;right:10px;}
.n3-2 .image {background:url('../images/bg/cours_particulier_madeincheztoi_s.jpg') no-repeat;right:0;}
.n3-2 .picto {background:url('../images/bg/picto_client2_s.png') no-repeat;left:10px;}
.n3-3 .image {background:url('../images/bg/carte_cadeau_madeincheztoi_s.jpg') no-repeat;left:0;}
.n3-3 .picto {background:url('../images/bg/picto_client3_s.png?v=2') no-repeat;right:10px;}
.n3-4 .image {background:url('../images/bg/offre_sur_mesure_madeincheztoi_s.jpg') no-repeat;right:0;}
.n3-4 .picto {background:url('../images/bg/picto_client4_s.png') no-repeat;left:10px;}
.clients {-webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s ease; }

.retour_xp { width:100%; margin-top:20px; margin-bottom:30px;}

#intermediaire_2{ height:120px; }
#intermediaire_2 img { height:40px;width:40px;background:url('../images/bg/pictos_s.png') 0px 0px no-repeat;}
#intermediaire_2 .pict2 {background-position:-40px 0px;}
#intermediaire_2 .pict3 {background-position:-80px 0px;}
#intermediaire_2 .pict4 {background-position:-120px 0px;}
#intermediaire_2 .pict5 {background-position:-160px 0px;}
#intermediaire_2 .pict6 {background-position:-200px 0px;}

.photo { width:50%; }
#preview_photos .contenu{ margin-top: 0px; padding:0; }

#contact{ background: url('../images/bg/grass_s.jpg') repeat; padding-bottom: 30px;}
form .champ { padding:5px 20px;}

#reserver form { background: url('../images/bg/grass_s.jpg') repeat; }

#faq{ background: url('../images/bg/poussette_s.jpg') center top/cover; }
.gauche { width:100% }
.droite { width:100% }
#faq .contenu{ width:90%; padding-top:50px; }
#faq .gauche, .droite { width:100%; }
#faq .gauche ul { margin-bottom:50px; }
.qm1 { margin-left:10px; }
.qm2 { left:30%; }
.qm3 { right:10px; }

#partenaires { background: url('../images/bg/tirets_s.jpg') center top/cover; }
.partner { text-align:center; }
#partenaires img { float:none; margin:0 0 10px 0; }
.desc {margin:0;}

footer{ background: url('../images/bg/bobines_s.jpg') center top/cover; }
.copyright { left:10px;}
.credits { left:0; top:0; height:100%; width:100%; margin:0; background-image: none; }

#ateliers {background:url('../images/bg/papier_s.jpg') repeat;}
#ateliers .contenu { width:100%; box-sizing: border-box; }
#ateliers aside{ width:100%; margin:0 0 30px 0; }
.img_th {height:100px;}
#theme1 .img_th { background:url('../images/bg/bg/atelier_theme1_s.jpg') center center/cover border-box;}
#theme2 .img_th { background:url('../images/bg/atelier_theme2_s.jpg') center center/cover border-box;}
#theme3 .img_th { background:url('../images/bg/atelier_theme3_s.jpg') center center/cover border-box;}
#theme4 .img_th { background:url('../images/bg/atelier_theme4_s.jpg') center center/cover border-box;}
#theme5 .img_th { background:url('../images/bg/atelier_theme5_s.jpg') center center/cover border-box;}
#theme6 .img_th { background:url('../images/bg/atelier_theme6_s.jpg') center center/cover border-box;}
#theme7 .img_th { background:url('../images/bg/atelier_theme7_s.jpg') center center/cover border-box;}
#theme8 .img_th { background:url('../images/bg/atelier_theme8_s.jpg') center center/cover border-box;}
#theme9 .img_th { background:url('../images/bg/atelier_theme9_s.jpg') center center/cover border-box;}
#theme10 .img_th { background:url('../images/bg/atelier_theme10_s.jpg') center center/cover border-box;}
#theme11 .img_th { background:url('../images/bg/atelier_theme11_s.jpg') center center/cover border-box;}
.theme li {margin:0 10px; padding:10px;}

}
