@charset "utf-8";
/* CSS Document */

/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* FIN RESET */

@font-face { 	font-family: "Rimouski"; 	src: url('../rimouski.ttf'); }

html, body{ height: 100%; }

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
        font-family:"Rimouski", sans-serif;
	background-color: #fff;
	font-size: 14px;
	line-height: 1.42857;
}

a:link, a:visited, a:hover, a:focus, a:active {
        text-decoration:none;
        outline:none;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
}

#menu_call {
        display:none;
        position: fixed;
        background-color: #000;
        filter: alpha(opacity=60);
        opacity: 0.6;
        padding: 10px;
        margin: 0;
        top:0px;
        right:0px;
        border: 2px solid #FFF;
        box-sizing: border-box;
        font-size: 18px;
        line-height: 17px;
        z-index:20015;
        height:40px;
        text-align: center;
}

#menu_call img {
        height: 14px;
}

.menu{
	list-style: none outside none;
	position: fixed;
	background-color: black;
	opacity: 0.6;
	filter: alpha(opacity=60); 
	padding:0 0 0 0;
	margin: -40px;
	z-index:20015;
	height:40px;
	text-align: center;
        display:table;
        width:100%;
}

.menu li{
	display: inline-block;
    	position: relative;
    	padding: 10px;
    	font-size: 18px;
    	border: 2px solid #FFF;
    	margin: 10px;
    	text-transform: uppercase;
    	transition: all 0.3s ease 0s;
    	box-sizing: border-box;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
}

.menu li:hover{
	background-color:#FFF;
}

.menu li a{
	display: block;
	text-decoration: none;
	color:#fff;
	line-height: 17px;
}

.menu li:hover > a {
                color: #2E2E2E;
}

.top {
	position: fixed;
	right: 50px;
	bottom: 50px;
	opacity: 0.6;
        transition-property: opacity;
        transition-duration: 0.5s;
	z-index: 10;
	width:50px;
}

.top:hover {
	opacity: 1;
}

.top img {
	width:100%;
}

section {
	display:table; 
	height:100%; 
	width:100%; 
        table-layout: fixed;
}

.table {
	display:table; 
	height:100%; 
	width:100%; 
        table-layout: fixed;
}

.cell1{
	display:table-cell;
	width:100%;
}

@media (max-width: 999px) {

body{
        min-width: 540px;
}

#menu_call {
        display:block;
}

#menutop {
        display:none;
}

.menu{
        filter: alpha(opacity=90);
        opacity: 0.9;
}

.top {
        right: 20px;
        bottom: 20px;
}

}

@media (max-width: 540px) {

body{
        min-width: 360px;
}

}


