@charset "utf-8";
/* CSS Document */

/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; color: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* FIN RESET */

@font-face { 	font-family: "Rimouski"; 	src: url('rimouski.ttf'); }
@font-face { 	font-family: "Handwriting"; 	src: url('handwriting.ttf'); }

html, body{
	height: 100%;
}

body{
        margin: 0; 
        min-width: 980px;
        padding: 0;
        font-family:"Rimouski", sans-serif;
        background-color: #fff;
        font-size: 14px;
        line-height: 1.42857;
}

a:link, a:visited, a:hover, a:focus, a:active {
        text-decoration:none;
        outline:none;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
}

#menu_call {
        display:none;
        position: fixed;
        background-color: #000;
        filter: alpha(opacity=60);
        opacity: 0.6;
        padding: 10px;
        margin: 0;
        top:0px;
        right:0px;
        border: 2px solid #FFF;
        box-sizing: border-box;
        font-size: 18px;
        line-height: 17px;
        z-index:15;
        height:40px;
        text-align: center;
}

#menu_call img {
        height: 14px;
}

.menu{
        list-style: none outside none;
        position: fixed;
        background-color: #000;
        filter: alpha(opacity=60);
        opacity: 0.6;
        padding:0;
        margin:0px;
        z-index:15;
        height:40px;
        text-align: center;
        display:table;
        width:100%;
}

.menu li{
        display: inline-block;
        position: relative;
        font-size: 18px;
        border: 2px solid #FFF;
        margin: 10px;
        text-transform: uppercase;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s ease 0s;
        box-sizing: border-box;

}

.menu li:hover{
        background-color:#fff;
}

.menu li a{
        display: block;
        text-decoration: none;
        color:#fff;
        line-height: 17px;
        padding: 10px;
}

.menu li:hover > a {
        color: #2E2E2E;
}

section {
	display:table; 
	height:100%; 
	width:100%; 
        table-layout: fixed;
}

.cell1{
	display:table-cell;
        vertical-align:middle;
	width:100%;
}

#n0{
	background-image: url('bg1.jpg');
    	background-size: cover;
    	background-position: center top;
    	background-repeat: none;
}

.contenu_section{
	width:990px; 
	margin:0 auto; 
	z-index:14;
	padding: 50px;
	font-family:"Rimouski", sans-serif;
	text-align:center;
	color: #fff;
}

h1 {
	font-size: 40px;
	font-style: Italic;
	color: #f1e40d;
	text-shadow: 1px 1px 3px #000;
	margin-bottom: 30px;
}

p {
	font-size: 20px;
	text-shadow: 1px 1px 2px #000;
}


